<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="./js/navbar.js" defer></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/mainStyle.css">
    </head>
    <body>
        <!-- NAVBAR -->
        <header class="navbar">
            <div class="nav-logo">COREA</div>
            <nav>
                <ul>
                    <li>
                        <a class="nav-link current-nav" href="">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="">Data</a>
                    </li>
                    <li>
                        <a class="nav-link" href="">About Us</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="page-content">
            <div>
                <!-- GAMBAR HEADLINE -->
            </div>

            <div class="home-stat">
                <div class="sub-title">Statistics</div>

                <div class="row">
                    <div class="col stat-content">
                        <div class="stat-title">Confirmed</div>
                        <div class="stat-value">10752</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col stat-content">
                        <div class="stat-title">Tested</div>
                        <div class="stat-value">608514</div>
                    </div>
                    <div class="col stat-content">
                        <div class="stat-title">Negative</div>
                        <div class="stat-value">588559</div>
                    </div>
                    <div class="col stat-content">
                        <div class="stat-title">Released</div>
                        <div class="stat-value">8854</div>
                    </div>
                    <div class="col stat-content">
                        <div class="stat-title">Deceased</div>
                        <div class="stat-value">244</div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>